<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
	<table class="fullwidth" cellspacing="0">
		<tr>
		<td>
			<div class="fullwidth">
				<input type="text" matInput placeholder="FIrst Name" id="firstname" [(ngModel)]="address.firstname" name="firstname">
			</div>
		</td>
		<td>
			<div class="fullwidth">
				<input type="text" matInput placeholder="Last Name" id="lastname" [(ngModel)]="address.lastname" name="lastnamename">
			</div>
		</td>
	</tr>
	</table>

		<div>
			<textarea placeholder="Address" matInput name="address" id="address" [(ngModel)]="address.address"></textarea>
		</div>	
	
		<table class="fullwidth">
			<tr>
				<td>
					<div class="fullwidth">
						<input type="text" matInput placeholder="City" id="city" [(ngModel)]="address.city" name="city">
			</div>
				</td>
				<td>
					<div class="fullwidth">
						<input type="text" matInput placeholder="State" id="state" [(ngModel)]="address.state" name="state">
			</div>
				</td>
				<td>
					<div class="fullwidth">
						<input type="text" maxlength="5" #postalcode matInput placeholder="Postal COde" id="postalcode" [(ngModel)]="address.postalcode" name="postalcode">
						<div>
								{{postalcode.value.length}} / 5
						</div>
			</div>
				</td>
			</tr>
		</table>

		<p>
			<button type="submit" mat-raised-button>submit</button>
		</p>
	
</form>