<p-panel header="Settings">
  <div class="ui-g">
      <label for="notify" class="ui-g-12 ui-md-2">Email to notify:</label>
      <input id="notify" class="ui-g-12 ui-md-10" placeholder="Enter an email address" type="email" />
  </div>
  <div class="ui-g">
      <label for="backup" class="ui-g-12 ui-md-2">Force backup:</label>
      <button id="backup" class="ui-g-12 ui-md-10">System back up now</button>
  </div>

  <div class="ui-g">
    <label for="statistic" class="ui-g-12 ui-md-2">Upmid Stats:</label>
    <div id="statistic" class="ui-g-12 ui-md-10 ui-g-nopad">
      <div class="icon ui-g-5">
        <i class="fa fa-cloud-download"></i>
      </div>
      <div class="data ui-g-7">
          <div class="value">20</div>
          <div class="label">Days Uptime</div>
      </div>
    </div>
<input type="text" pInputText />
  </div>
</p-panel>
<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>  
    <span class="ui-inputgroup-addon"><i class="fa fa-cc-visa"></i></span>   
    <input type="text" pInputText placeholder="Price"> 
    <span class="ui-inputgroup-addon">$</span>  
    <span class="ui-inputgroup-addon">.00</span>      
</div>

